{% extends 'employee/base.html' %}

{% block title %}
    <title>Edit</title>
{% endblock title %}

{% block content %}
    <h1 class="title has-text-info is-uppercase has-text-weight-bold" style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Edit Employee Information</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <img src="{{ employee.imageURL }}" alt="{{ employee.emp_name }} Image"></li> -->
        <p>
            <a class="button" href="{% url 'employees-list' %}">
                Go back
            </a>
        </p>
        <input type="submit" class="button is-success is-rounded mt-3">
    </form>
{% endblock content %}