<h1 class="title">Social Media Login</h1>
<footer class="footer">
  <div class="content is-flex">
    <p class="buttons">
      <button class="button  is-inverted">
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
        <span>GitHub</span>
      </button>

      <button class="button  is-inverted">
        <span class="icon">
          <i class="fab fa-google"></i>
          
        </span>
        <span>Google</span>
      </button>
    </p>
  </div>
</footer>